[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = ">=4.5.1"
gunicorn = ">=20.0.4"
line-bot-sdk = "==1.17.0"
python-dotenv = ">=0.15.0"
Flask = ">=1.1.2"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
